.test_class {
    display: none;
}

.no_favorites {
    height: 21px;
    font-size: 18px;
    width: 258pt;
    width: 241px;
    margin: 140pt auto 0 auto;
}

.all_cont {
    border: 1px solid #ececec;
    background-color: #fff;
    margin: 5pt 15pt 0 15pt;
    padding: 10px;
}

.all_cont .selectRoom {
    margin: 0 !important;
    padding: 0 !important;
    display: inline-block;
    border: 0 !important;
}

.all_cont #roomFavorContainer {
    display: inline-block;
    vertical-align: top;
    float: right;
}

@media (min-width: 320px) {
    .all_cont .selectRoom {
        width: 94%;
    }

    .all_cont #roomTextContainer {
        width: 61% !important;
    }
}

@media (min-width: 360px) {
    .all_cont .selectRoom {
        width: 95%;
    }

    .all_cont #roomTextContainer {
        width: 65% !important;
    }
}

@media (min-width: 380px) {
    .all_cont .selectRoom {
        width: 95%;
    }

    .all_cont #roomTextContainer {
        width: 61% !important;
    }
}